In [2]:
!pip install yfinance xgboost pandas numpy matplotlib scikit-learn --quiet

In [4]:
!pip install yfinance --upgrade --quiet

In [6]:
import sys
!{sys.executable} -m pip install yfinance --quiet

In [7]:
import yfinance as yf

In [9]:
spy_data = yf.download("SPY", interval="5  m", period="7d")
spy_data.head()

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,SPY,SPY,SPY,SPY,SPY
Datetime,,,,,
2025-04-24 13:30:00+00:00,536.270081,536.960022,535.807373,536.715027,3373565
2025-04-24 13:35:00+00:00,536.710022,536.760010,535.450378,536.270020,612504
2025-04-24 13:40:00+00:00,537.780029,537.929993,536.640015,536.705017,728584
2025-04-24 13:45:00+00:00,538.263489,538.530029,537.739990,537.770020,1002687
2025-04-24 13:50:00+00:00,538.760010,538.909973,538.030029,538.270020,471107